.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.operation-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    button {
        width: 78px;
        margin: 5px;
    }
}

.loader {
    background-color: #fff;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    text-align: center;

    &.fullScreen {
        position: fixed;
    }

    .warpper {
        width: 100px;
        height: 100px;
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .inner {
        margin: 0 auto;
        text-indent: -12345px;
        border-top: 1px solid rgba(0, 0, 0, 0.08);
        border-right: 1px solid rgba(0, 0, 0, 0.08);
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        border-left: 1px solid rgba(0, 0, 0, 0.7);
        border-radius: 50%;
        z-index: 10001;
        animation: spinner 600ms infinite linear;
    }

    .text {
        width: 100px;
        height: 20px;
        text-align: center;
        font-size: 12px;
        letter-spacing: 4px;
        color: #000;
    }

    &.hidden {
        z-index: -1;
        opacity: 0;
        transition: opacity 1s ease 0.5s, z-index 0.1s ease 1.5s;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.content-inner {
    background: #fff;
    padding: 24px;
    min-height: 100vh;
    position: relative;
}

@media (max-width: 767px) {
    .content-inner {
        padding: 12px;
        min-height: calc(100vh - 160px);
    }
}

.btn-action {
    width: 200px;
}
